@inherits LayoutComponentBase

<header class="py-4">
    <div class="container text-center">
        <h1>UF2</h1>
    </div>
</header>
<main>
    @Body
</main>
<footer class="py-4">
    <div class="container text-center">
        <p><small>Copyright &copy; 2021 Seeed K.K. All Rights Reserved.</small></p>
    </div>
</footer>
